* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	line-height: 14px;
	color: #989898;
	font-family: 'Open Sans', sans-serif;
}
/** 0.0 **/

nav ul li {
	display: inline;
	margin-right: 30px;

}

nav ul {
	/*float: right;*/
	/*padding-top: 25px;
	padding-right: 75px;*/
	display: flex;
	justify-content: flex-end;
}

a {
	text-decoration-line: none;
	color: #778899;
	font-weight: 700;
}

nav a:hover {
	color: #0397ff;
}

nav {
	height: 96px;
	background-color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #778899;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop {
    color: #0397ff;
}

.active {
	color: #0397ff;
}

.logo {
	margin-top: 30px;
	margin-left: 100px;
	height: 17px;
	width: 97px;
}

button {
	background-color: #00d85f;
	color: #fff;
	border-radius: 7px;
	padding: 6px 12px;
	font-weight: bold;
	opacity: 1;
	box-shadow: 0 5px 7px 0 rgba(0, 216, 95, 0.38);
}
/** 1.0 **/

.blue-button {
	display: inline-block;
	color: #fff;
	font-weight: 700;
	font-size: 17px;
	background-color: #0397ff;
	border-radius: 6px;
	padding: 13px 40px;
}

.main-img {
	width: 100%;
	max-width: 417px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}

.text-holder {
	text-align: center;
	color: #6c84af;
	font-size: 30px;
	font-weight: 700;
	line-height: 38px;
	margin-bottom: 25px;
}

.main-content {
	background-color: #f9fbff;
	height: 655px;
}
/** 2.0 **/

.text {
	background-color: #00d85f;
	width: 100%;
	text-align: center;
}

.text h3 {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	padding-top: 60px;
}

.text h2 {
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.info-text {
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 60px;
	margin-bottom: 60px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

.btn {
	color: #6c84af;
	background-color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 16px;
	border-radius: 6px;
	box-shadow: 0 12px 32px 0 rgba(10, 131, 63, 0.46);
	display: inline-block;
	margin-bottom: 25px;
	
}
/** 3.0 **/

.container {
	text-align: center;
}

.row h1{
	text-align: center;
	color: #6c84af;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 80px;
	margin-top: 50px;
}

.feature-icon {
	height: 390px;
	max-width: 33.33333%;
	width: 320px;
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
	border-radius: 10px;
	border: 5px solid #fafdff;
	padding-top: 45px;
	max-width: 100%;
}

.feature-icon:nth-child(1) {
	margin-right: 65px;
}

.feature-icon:nth-child(2) {
	margin-right: 65px;
}

.fa.fa-star {
	font-size: 70px;
	position: absolute;
	color: #0397ff;
	margin-top: 25px;
	margin-left: -179px;
}

.feature-icon h3 {
	font-size: 17px;
	color: #34a8ff;
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 35px;
}

.feature-icon p {
	font-size: 15px;
	color: #678ea6;
	line-height: 20px;
}

.feature-icon:hover {
	background-color: #EBFBFC;
}

.fa.fa-ticket {
	font-size: 70px;
	position: absolute;
	color: #0397ff;
	margin-top: 25px;
	margin-left: -179px;
}

.fa.fa-comments {
	font-size: 70px;
	position: absolute;
	color: #0397ff;
	margin-top: 25px;
	margin-left: -179px;
}

.container .feature-icon {
	display: inline-block;
	justify-content: center;
}

.light-blue-button {
	color: #0f9aee;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	background-color: #ecf8ff;
	padding: 10px 16px;
	border-radius: 6px;
	text-decoration: none;
	margin-top: 50px;
}

/** 4.0 **/

.tables {
	background-color: #f7f8fa;
}

.tables h1 {
	color: #6c84af;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.starter h3 {
	color: #3da8f9;
	font-weight: 700;
	font-size: 16px;
	text-align: right;
	margin-right: 25px;
	margin-bottom: 35px;

}

.glyphicon.glyphicon-menu-right{
	font-size: 15px;
}

.pricing-box {
	display: inline-block;
	width: 309px;
	height: 509px;
	background-color: #fff;
	border-radius: 14px;
	padding: 38px 38px 38px 42px;
	margin-right: 15px;
}

.tables-tables {
	display: flex;
	justify-content: center;
}

.tables-pricing ul li {
	color: #899cbf;
	font-size: 14px;
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 20px;
}

.money {
	color: #899cbf;
	font-size: 25px;
	font-weight: 800;
	margin-bottom: 20px;
	text-align: center;

}

.duration {
	color: #c0cadd;
	font-size: 12px;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 25px;
}

.pricing-box li.not-supported {
	color: #d1d9e8;
}

.pricing-box ul li {
	list-style-type: none;
}

.pricing-box ul li::before {
	content:"\f00c";
	font-family: FontAwesome;
	font-size: 12px;
	color: #61e03e;
} 

.tables p {
	text-align: center;
	color: #3da8f9;
	font-weight: 700;
	font-size: 16px;
	padding-bottom: 50px;
	padding-top: 50px;
}

.pricing-button {
	color: #0f9aee;
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	padding: 10px 16px;
	border-radius: 6px;
	background-color:  #ecf8ff;
}

.pricing-buttons {
	text-align: center;
}

/** 5.0 **/

.row-title h2 {
	text-align: center;
	color: #6c84af;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 60px;
	margin-top: 80px;
}

.app-icon-holder {
	display: inline-block;
	width: 24%;
}

.app-links {
	display: inline-block;
	width: 50%;
	text-align: center;

}

.app-holder {
	text-align: center;

}

.icon {
	width: 40px;

}

.app-text {
	display: inline-block;
	width: 70%;
	text-align: center;
	border: 3px solid #EBFBFC;
	border-radius: 14px;
	min-height: 158px;
	/*width: 798px;*/
	box-shadow: 0 0 10px 0 rgba(218, 231, 255, 0.74)
}

.app-text h3 {
	color: #6c84af;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 25px;

}

.app-text p {
	padding-left: 100px;
	padding-right: 100px;
	line-height: 20px;
	color: #899cbf;
	font-size: 14px;
	font-weight: 600;
}

/** 6.0 **/

.testimonials {
	background-color: #00d85f;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 60px;
	margin-top: 50px;
}

.testimonials h2 {
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 60px;
}

.profil {
	width: 76px;
	position: absolute;
	margin-top: -36px;
	margin-left: -37px;
	display: inline-block;
}

.profil img {
	border-radius: 100%;
}

.testimonials-info {
	background-color: #fff;
	border-radius: 14px;
	position: relative;
	box-shadow: 0 0 40px 0 rgba(50 141 25 0.4);
	height: 343px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.info-x {
	margin-top: 55px;
	position: absolute;
} 

.info-x h4 {
	color: #454545;
	font-weight: 700;
	font-size: 17px;
}

.info-x h5 {
	color: #3f5d6f;
	font-size: 15px;
	margin-bottom: 60px;
}

.info-x p {
	color: #5d6770;
	font-size: 19px;
	line-height: 25px;
	margin-left: 45px;
	margin-right: 45px;
}

/** 7.0 **/

.features h2 {
	text-align: center;
	color: #6c84af;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 60px;
	margin-top: 60px;
}

.cloud {
	max-width: 223px;
	width: 100%;
}

.globe {
	width: 79px;
	position: absolute;
	margin-top: -49px;
	margin-left: 141px;


}

.icon-img {
	display: inline-block;
	text-align: center;
}

.info-z h3 {
	color: #34a8ff;
	font-size: 17px;
	font-weight: 700;
	position: relative;
	margin-top: 45px;

}

.info-z p {
	color: #678ea6;
	font-size: 15px;
	padding-right: 35px;
	padding-left: 35px;
}

.icon-info {
	max-width: 360px;
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 50px;
}

/** 8.0 **/

.text-top {
	text-align: center;
	color: #fff;
	font-weight: 700;
	font-size: 25px;
}

.row .text-top {
	background-color: #0397ff;
}


.white-button {
	display: inline-block;
	color: #6c84af;
	font-size: 14px;
	font-weight: 700;
	background-color: #fff;
	padding: 10px 16px;
	border-radius: 6px;
	margin-bottom: 35px;
	margin-top: 25px;
}

/** 9.0 **/

#footer {
	background-color: #00d85f;
	padding-top: 60px;
	padding-bottom: 50px;
	text-align: center;
}

#footer .footer-menu-holder {
	text-align: left;
	min-width: 130px;
	display: inline-block;
}

#footer h4 {
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 25px;
	margin-left: 40px;

}

#footer ul {
	list-style: none;
	text-decoration: none;
}

#footer ul a {
	color: #fff;
	line-height: 25px;
}

#footer .phone .fa {
	color: #fff;
	margin-right: 7px;
	text-align: center;
	font-size: 20px;

}

#footer .email .fa {
	color: #fff;
	margin-right: 7px;
	text-align: center;
	font-size: 15px;
}

#footer .addres .fa {
	color: #fff;
	margin-right: 7px;
	text-align: center;
	font-size: 20px;
}

#footer .socialrow a .fa {
	font-size: 40px;
	color: #01ac4c;
	text-align: center;
	margin-top: 30px;
}

#footer .socialrow a .fa:hover {
	color: #fff;
}

.addres .pop p {
	color: #fff;
}

.email .pop p {
	color: #fff;
}

.phone .pop p {
	color: #fff;
}

.phone {
	text-align: center;
	display: inline-block;
}

.addres {
	justify-content: center;
	display: flex;
}

.email {
	justify-content: center;
	display: flex;
}

.phone {
	justify-content: center;
	display: flex;
}